<h1>Welcome to OldTwitter</h1>

<h3>OldTwitter have <%= Article.public_count %> tweets so far, and counting!</h3>

<p>
<table>
  <thead>
  <tr>
    <th align='left', style = 'width:400px'>Latest Tweets</th>
    <th align='right'>User</th>
  </tr>
  </thead>
    <tr>
    <th><% @articles.each do |article| %>
    <% unless article.archived? %>
      <li align='left'>
        <%= link_to article.body, article %>
      </li>
    <% end %>
  <% end %>
  </th>
     <th><% @articles.each do |article| %>
    <% unless article.archived? %>
      <li style='list-style-type:none;' align='left'>
        <%= link_to article.user.email, profile_path(article.user) %>
      </li>
    <% end %>
  <% end %>
  </th> 
  </tr>

</table>
</p>
<br>


<%= link_to "New Tweet", new_article_path %>
