<h1>Welcome to OldTwitter</h1>

OldTwitter have <%= Article.public_count %> tweets so far, and counting!

<p>
<table>
  <thead> Latest Tweets 
  <tr>
    <th>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li align='left'>
        <%= link_to article.body, article %>
      </li>
    <% end %>
  <% end %>
  </th>
  </tr>
  </thead>
</table>
</p>
<br>
<%= link_to "New Tweet", new_article_path %>
